* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #545454;
}
h1 {
  font-size: 5.3rem;
  line-height: 5.8rem;
  letter-spacing: 2px;
  color: #fff;
}
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
}

h3 {
  padding-bottom: 30px;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #161b25;
}
@media (max-width: 414px) {
  h3 {
    padding-bottom: 10px;  
  }
}


ul {
  list-style: none;
}
code {
  padding-left: 10px;
  display: block;
  font-size: 1.2rem;
  background: #f9f9fb;
}
@media (max-width: 414px) {
  code {
    padding-left: 0px;    
    font-size: 1rem;    
  }
}
.wrapper {
  margin: auto;  
  max-width: 950px;
}
@media (max-width: 1024px) {
  .wrapper {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    margin: auto;
    padding-left: 0;
    padding-right: 20px;
    max-width: 100%;
  }
}
@media (max-width: 414px) {
  .wrapper {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
.header {
  background-color: #161b25;
}

.hero {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .hero {    
    flex-direction: column;
  }
}
.hero__image-wrapper {
  padding-top: 134px;
  padding-bottom: 72px;
  display: flex;
  background-color: #21252f;
}
@media (max-width: 414px) {
  .hero__image-wrapper {    
    padding-top: 14px;
    padding-bottom: 12px;
  }
}
.hero__image {
  width: 100%;
}
@media (max-width: 768px) {
  .hero__image {
    margin: auto;    
    width: 258px;    
  }
}
@media (max-width: 414px) {
  .hero__image {
    margin: auto;    
    width: 200px;
    border-radius: 50%;
  }
}

.hero__content {
  margin-right: auto;
  margin-left: 66px;
  padding-top: 134px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
@media (max-width: 414px) {
  .hero__content {    
    margin: auto;
    margin-left: 16px;
    padding-top: 32px;
    padding-bottom: 16px;
    text-align: center;
  }
}
.hero__content-column + .hero__content-column {
  margin-top: 35px;
}
.hero__blockquote {
  margin-top: 38px;
  line-height: 2.5rem;
  color: #fff;
}
.hero__status {
  margin-top: 18px;
  padding: 5px 19px;
  display: inline-block;
  background-color: #21252f;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__item {
  display: flex;
  flex-direction: column;
}
.contacts__item + .contacts__item {
  margin-top: 38px;
}
.contacts__type {
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: bold;
  color: #fff;
}
.contacts__link {
  margin-top: 7px;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
}
.contacts__link:hover {
  text-decoration: underline;
  transition: ease all .3s;
}
.social {
  display: flex;
}
@media (max-width: 414px) {
  .social {
    justify-content: center;
  }
}

.social__item + .social__item {
  margin-left: 10px;
}
.social-icon {
  width: 35px;
  height: 35px;
}

.social-icon--mini {
  width: 18px;
  height: 18px;
}
.social-icon:hover path {  
  fill: #f5be3d;
  transition: ease fill .3s;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__left-column {
  padding: 70px 70px 70px 85px;
  display: flex;
  max-width: 345px;
  flex-basis: 100%;
  background-color: #e7e8e9;
}

@media (max-width: 414px) {
  .main__left-column {
    padding: 20px;
    max-width: 100%;
  }
}

.education__list {
  display: flex;
  flex-direction: column;
}
.education__item {
  display: flex;
  flex-direction: column;
}
.education__item + .education__item {
  margin-top: 45px;
}
.education__item-line {
  font-size: 1.3rem;
  color: #555;
}
.education__item-line + .education__item-line {
  margin-top: 8px;
}

.main__right-column {
  margin-right: auto;
  padding: 70px 0 70px 66px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 414px) {
  .main__right-column {
    padding: 20px;
    max-width: 100%;
  }
}
.skills {
  padding-top: 30px;
}
@media (max-width: 768px) {
  .skills {
    padding: 20px;    
  }
}
.experience__year {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 1.1rem;
}
.experience__position {
  margin-bottom: 8px;
  display: inline-block;
  font-weight: bold;
}
.experience__description-item + .experience__description-item {
  margin-top: 10px;
}
.code {
  padding-top: 30px;
}
.skills-list {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 414px) {
  .skills-list {
    display: flex;
    flex-direction: column;    
  }
}
.skills__item {
  display: flex;
  flex-grow: 1;
  margin-top: 25px;
}

.skills__item:nth-child(2n) {
  margin-left: 50px;
}
@media (max-width: 414px) {
  .skills__item:nth-child(2n) {
    margin-left: 0px;
  }
}

.level {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.level__item {
  display: inline-flex;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e1e1e1;
}
.level__item--colored {
  background-color: #171b26;
}
.level__item + .level__item {
  margin-left: 10px;
}
.row {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 2fr;
}

.row + .row {
  margin-top: 48px;
}

.cell {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  flex-basis: 220px;
}
.cell + .cell {
  margin-left: 17px;
}
.footer {
  background-color: #161b25;
  padding: 20px 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: cnter;
  }
}
.copywrite {
  padding-left: 25px;
  font-size: 1.2rem;
  color: #fff;
}
.footer__social {
  margin-left: 10px;
  margin-right: auto;
}
